html {
  background: var(--bg-color);
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: inherit;
}

strong {
  font-weight: bold;
}

code {
  font-family: SFMono-Regular, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 85%;
}

.link {
  color: var(--link-color);
}

.link:hover {
  color: var(--link-hover-color);
}
